.container {
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}

body {
  background-color: #d1ccd4;
}

.experienceBanner > a{
  color: #ffffff;
  font-size: 3rem;
  transition: color 0.5s;
}


.experienceBanner > a:hover{
  color: rgb(81, 29, 7);
}

.course {
  margin-bottom: 1rem;
  transition: all 0.5s;   
}

.course:hover{
  transform: translateY(-10px);
}


/* 
.container2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

} */
